<div class="container-movies">
  <h1 class="funny-title"><%= @list.name %></h1>
  <h2 class="funny-title medium">This list has <%= @list.movies.count %> movies in it</h2>

  <div class="movies-row">
    <!-- Formulaire pour ajouter un bookmark -->
    <div class="card-movie card-movie-form">
      <h4 class="funny-title small">Add a bookmark</h4>
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.association :movie, label: "Select a movie" %>
        <%= f.input :comment, label: "Comment your bookmark" %>
        <%= f.submit "Add Bookmark" %>
      <% end %>
    </div>

    <!-- Affichage des bookmarks existants -->
    <% @selected_bookmarks.each do |bookmark| %>
      <div class="card-movie">
        <div class="card-movie-img">
          <% test ="<i class='cross fa-regular fa-circle-xmark'></i>" %>
          <%= link_to sanitize(test), bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
   
          <img alt="poster" src="<%= bookmark.movie.poster_url %>" class="movie-img">
        </div>
        <div class="card-movie-texts">
          <h3><%= bookmark.movie.title %></h3>
          <div class="card-movie-overview">
            <p><%= bookmark.movie.overview %></p>
          </div>
          <p><%= bookmark.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>